.ImgProp {
  background: url("../images/Upperimage1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
.embed-responsive {
  margin-top: 5vh;
  margin-bottom: 2vh;
}
@media screen and (max-width: 992px) {
  .ImgProp {
    /* width: 100%; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    max-width: 100%;
  }
  .vdo {
    margin-left: 4% !important;
  }
}

@media screen and (max-width: 600px) {
  .ImgProp {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    max-width: 100%;
  }
  .vdo {
    margin-left: 3% !important;
    margin-top: -28% !important;
  }
  .eT {
    margin-left: 30% !important;
  }
}
.imgBtm {
  margin-top: -10% !important;
  max-width: 100%;
}
.imgMid {
  height: 50% !important;
  width: 50% !important;
  margin-left: 40%;
}
.ImgProp4 {
  margin-top: -10%;
}

.cirrec {
  margin-top: -60%;
  opacity: 0.8;
  z-index: -1;
}
