.row {
  margin: 0px !important;
}
.card {
  margin-left: 50% !important;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
}
.btnn {
  padding: 1% 4%;
  border-radius: 3%;
  background-color: #2193b0;
  color: white;
}
.card3-img-top {
  width: 100%;
  height: 100px;
}
.card-title3 {
  font-weight: 600 !important;
}
@media screen and (max-width: 992px) {
  .row {
    margin: 0px !important;
  }
  .card {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .containerA {
    width: 75%;
    /* margin-left: 22% !important; */
  }
}
@media screen and (max-width: 600px) {
  .containerA {
    width: 70%;
    margin-left: 16% !important;
  }
  .r {
    margin: 0px !important;
  }
}
