.page-footer {
  background-image: linear-gradient(to right, #2193b0, #6dd5ed);
  color: white;
}
.ftrmgr {
  margin-top: 2%;
}
.ftr {
  color: white;
}
.lk {
  color: white;
}
.alk1 {
  margin-left: 16%;
  margin-top: 4%;
}
.alk {
  margin-top: 4%;
}
.alk2 {
  margin-top: 7%;
}
