.page-footer {
  background-image: linear-gradient(to right, #2193b0, #6dd5ed);
  color: white;
}
.ftrmgr {
  margin-top: 2%;
  /* margin-right: 13% !important; */
}
.ftr {
  color: white;
  font-weight: 400;
}
.lk {
  color: white;
  font-weight: 400;
}
.alk1 {
  margin-left: 16%;
  margin-top: 4%;
}
.alk {
  margin-top: 4%;
  font-weight: 400;
}
.alk2 {
  margin-top: 7%;
  margin-left: -15% !important;
}
/* .anr {
  text-decoration: underline;
  color: #2193b0;
} */
