.page-footer {
  background-image: linear-gradient(to right, #2193b0, #6dd5ed);
  color: white;
}
.ftrmgr {
  margin-top: 2%;
}
.ftr {
  color: white;
}
.lk {
  color: white;
}
.alk {
  margin-top: 3.5%;
}
