.nav-color {
  background: linear-gradient(to right, #2193b0, #6dd5ed);
}
.LinkColor {
  color: #fff !important;

  /* border-bottom: 2px solid #fff; */
}
.LinkColor:hover {
  background-color: #2193b0;
  color: white;
  box-shadow: 7px 9px 25px 0px #2193b0;
}
.imgProp {
  margin-left: 6% !important;
  color: white !important;
  font-weight: 700;
  font-size: 25px;
}
.d-inline-block {
  height: 50px;
  width: 50px;
  /* margin-left: 14%; */
}
