.nav-color {
  background: linear-gradient(to right, #2193b0, #6dd5ed);
}

.LinkColor {
  color: #fff !important;
  padding: 10px 13px !important;
  /* margin-top: 30% !important; */
}
/* .caret {
  color: #fff !important;
} */

.LinkColor:hover {
  background-color: #2193b0;
  color: white;
  /* box-shadow: 7px 9px 25px 0px #2193b0; */
}

.logoName {
  margin-top: -10% !important;
  padding: 7%;
}

.imgProp {
  margin-left: 12% !important;
  color: white !important;
  font-weight: 700;
  font-size: 25px;
}
.logoHeading {
  font-size: 12px;
  margin-left: 30% !important;
  font-weight: lighter;
}
.Title {
  margin-left: 15% !important;
  margin-top: -30% !important;
  line-height: 0.5;
}

.d-inline-block {
  height: 60px;
  width: 60px;
  margin-top: 2% !important;
  /* margin-left: 14%; */
}

.alkn {
  margin-top: 9% !important;
}

.navItem {
  /*    margin-right: 30px;*/
}

.social_icon {
  margin-right: -0.5rem !important;
}
.socila_content {
  margin-left: 3rem;
}
